{% extends 'base.html.twig' %}

{% block title %} {{ quiz.title }} {% endblock %}

{% block body %}
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>

    <h2>Questions :</h2>
    <form method="post">
        {% for question in quiz.questions %}
            <p>{{ question.question }}</p>
            <input type="text" name="answer_{{ question.id }}">
        {% endfor %}
        <button type="submit">Valider</button>
    </form>

    <a href="{{ path('app_quiz') }}">Retour à la liste des quiz</a>
{% endblock %}
